html, body {
    background:#121314;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

.title {
    color: #ffffff;
    font-size: 50px;
    text-align:center;
    background-color:#191a1b;
    padding: 20px;
    margin: 0;
}

.border {
    /* border-color: #191a1b; */
    display: inline-block;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0; 
}

.menu-bar {
    color: #000;
    padding: 30px;
    background-color: #191a1b;
}

ul {
    margin: 0;
    margin-bottom: 5px;
}

li {
    list-style-type: none;
    display: inline-block;
    color: #ffffff;
}

.btn {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.hello{
    font-family: 'Segoe Script';
    font-size: 50px;
    text-align: left;
    margin: 25px;
}

.container-hello {
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 25px;
    color: #ffffff;
}

.content {
    margin: 25px;
    font-size: 30px;
    color: #ffffff;
}
